/*
Author: Krat0S
Description: mobile_dev software registry
Version: 1.0
*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, "Melno", "Meslo", Arial, sans-serif;
	color: #777;
	width: 100vw; height: 100vh;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f6e6b4+0,ed9017+100;Yellow+3D+%231 */
    background: rgb(246,230,180); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(246,230,180,1) 0%, rgba(237,144,23,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(246,230,180,1) 0%,rgba(237,144,23,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(246,230,180,1) 0%,rgba(237,144,23,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6e6b4', endColorstr='#ed9017',GradientType=0 ); /* IE6-9 */
}

#main {
	width: 100vw; height: 100vh;
}

#header {
	margin: 0; padding: 20px;
	width: 100%; height: 92px;
	background: #20323F
}

.logo {
	background: url('/img/logo@2x.png');
	width: 164px; height: 52px;
	background-size: 164px 52px;
}

#content {
	
}

.form-window {
	margin-top: 10vh; padding: 50px 30px;
	
	background: #fff;
	box-shadow: 2px 4px 16px rgba(48, 48, 48, 0.5);
	
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	
	overflow: hidden;
}


table {
font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
text-align: left;
border-collapse: separate;
border-spacing: 5px;
background: #ECE9E0;
color: #656665;
border: 16px solid #ECE9E0;
border-radius: 20px;
}
th {
font-size: 18px;
padding: 10px;
}
td {
background: #F5D7BF;
padding: 10px;
}

.alignleft {
	float: left;
}
.alignright {
	float: right;
}