<!DOCTYPE html>
<html lang="en">
	<head>
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="/css/style.css" />
		
		<link rel="canonical" href="/index.html" />
		
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<meta name="author" content="Krat0S" />
		<meta name="copyright" content="Krat0S" />
		<meta name="description" content="mobile_dev software registry" />
		<meta name="keywords" content="mobile_dev, software, registry" />
		<meta charset="utf-8">

		<title>#mobile_dev software registry</title>
		
		<!-- Apple & Icons -->
		<meta name="apple-mobile-web-app-capable" content="yes">
	</head>
<body>
    <div class="container fluid">
        <div class="row">
            <header id="masthead" role="banner" class="f t l r top-bottom">
                <div class="container fluid">
                    <div class="row">
                        

                        <div class="col thirteen last pt">
                            <h1 align="center">Реестр ПО сектора мобильной разработки</h1>
                        </div>

                    </div>
                </div>
            </header>
        </div>
        {{^authenticated}}
        
        <div class="text-center">
            <p>Вы не вошли в систему.</p>       
        </div>
        {{/authenticated}}

        {{#authenticated}}
        <div class="text-center">
            <p>Пользователь: {{userID}}</p>            
        </div>
        {{/authenticated}}
        <p>
