{{>header}}

					
						
							<div class="form-window">
								<form method="post">
                                    <label id="errorMessage" hidden="hidden">
                                        
                                    </label>
								  <div class="form-group">
                                      <label for="inputLogin">Логин:</label>
                                      <input type="text" name="message" class="form-control" id="inputLogin" placeholder="Domain login">
                                      <label for="inputPassword">Пароль:</label>
                                      <input type="password" name="message" class="form-control" id="inputPassword" placeholder="Password">
								  </div>
								  <button type="submit" class="btn btn-primary pull-right">Авторизоваться</button>
								</form>
                                <a href="/" class="btn btn-primary">На главную</a>
							</div>
						
				

{{>footer}}
